obj/
*.d
*.o
*.i
*.s
ChangeLog
darkplaces-agl
darkplaces-glx
darkplaces-sdl
darkplaces-dedicated
gmon.out
*.ncb
*.opt
*.plg
*.exe
darkplaces_private.h
darkplaces_private.rc
Makefile.win
*.dll
*.dylib
*.dSYM
.vscode
*.code-workspace
.ccls-cache
*.gch
/.vs
/build
/.cache

# exclude xiph libs for some reason
libogg*/
libvorbis*/

# exclude VS garbage and compiled files
Debug-darkplaces-*/
packages/*
*.pdb
*.exp
darkplaces*.lib